@(response: List[crakken.data.model.PageFetchRequest], crId: String)
@import common.layout._
@import common.tags.pagefetchrequest_tr

@mainlayout(title = "Pages Crawled") {
    <div class="page-header">
        <h1>Page Fetches</h1>
    </div>
    <h2 class="panel-heading">Pages crawled for Crawl Request @{crId}</h2>
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-3">ID</th>
                <th class="col-md-1">Status</th>
                <th class="col-md-8">Crawled URL</th>
            </tr>
        </thead>
        <tbody>
            @for(row <- response) { @pagefetchrequest_tr(row)}
        </tbody>
    </table>



}