@(title: String, pagescripts: Html = Html(""), pagestylesheets: Html = Html(""))(content: Html)

@import common.tiles.{navbar,footer}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>@title</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/slate/bootstrap.min.css" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.min.css")">
        @pagestylesheets
        @*<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">*@
    </head>
    <body>
        <a href="http://www.reactivemanifesto.org/"> <img style="border: 0; position: fixed; right: 0; top:0; z-index: 9000" src="//d379ifj7s9wntv.cloudfront.net/reactivemanifesto/images/ribbons/we-are-reactive-white-right.png"> </a>
        @navbar()
        <div class="container content-wrapper">
            @content
        </div>
        @footer()
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/main.min.js")'></script>
        @pagescripts
    </body>
</html>